*{
  box-sizing: border-box;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  height: 10vh;
  width:100vw;
  background-color: #4057a1fd;
  color: #ffffff;
  margin-bottom:5%;
}

nav > span {
  font-size: 1.3em;
  align-self: center ;
  font-family:Bungee; 
  padding-left:1.5em;
  padding-right:1.5em;

}
.sub-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right:1.5em;

}

.sub-container > span {
  font-size: 1.3em;
}

.sub-container > output {
  font-family: Bungee;
  font-size:10em;
}