
.tweet-form{
  
  width:60vw;
  display: flex;
  flex-direction: column;
}
.tweet-form > textarea {
  background-color:rgba(255, 0, 0, 0) ;
  border: none;
  border-bottom: 3px solid #4056A1;
  resize: none;
}

.tweet-form-bottom{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 3% 1% 3%;
}

.tweet-form-bottom > button {
  background-color: #4056A1;
  color: white;
  width: 12%;
  height: auto;
  justify-items: center;  
  padding: 0;
  border: none;
  font-family: Bungee;
  font-size: 1.5rem;
  padding: 1% 0% 1% 0%;

}